<div class="row">
  <div class="col-xs-6">
    <div class="well">
      <h3>Stylists</h3>
      <% @stylists.each do |stylist| %>
        <div class="">
          <p>
            <a href="/stylists/<%= stylist.id %>"><%= stylist.name %></a>
            <form action="/stylists/delete" method="post">
              <input hidden name="_method" value="delete">
              <input hidden name="name" value="<%= stylist.name %>">
              <button class="btn btn-danger" type="submit">Delete Stylist</button>
            </form>
          </p>
        </div>
      <% end %>
      <form class="" action="/stylists/add" method="post">
        <input type="text" name="stylist_name">
        <button type="submit" name="add_stylist" class="btn btn-primary">Add Stylist</button>
      </form>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="well">
      <h3>Clients</h3>
      <% @clients.each do |client| %>
        <div class="">
          <p>
            <a href="/clients/<%= client.id %>"><%= client.name %></a>
            <form action="/clients/delete" method="post">
              <input hidden name="_method" value="delete">
              <input hidden name="name" value="<%= client.name %>">
              <button class="btn btn-danger" type="submit">Delete Client</button>
            </form>
          </p>
        </div>
      <% end %>
      <form class="" action="/clients/add" method="post">
        <input type="text" name="client_name">
        <button type="submit" name="add_stylist" class="btn btn-primary">Add Client</button>
      </form>
    </div>
  </div>
</div>
