<div class="col-xs-12">
  <h1 style="text-align: center;"><%= @stylist.name %></h1>
  <form class="form-group" action="/stylists/<%= @stylist.id %>/update" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="name">
    <button type="submit" name="button" class="btn btn-default">Update Name</button>
  </form>
</div>

<div class="col-xs-12">
  <form class="" action="/stylists/<%= @stylist.id %>/add" method="post">
    <input type="text" name="client_name" required>
    <button type="submit">Add Client</button>
  </form>
</div>

<div class="col-xs-6 well">
  <h3>Current Clients:</h3>
  <% if !@clients.empty? %>
    <% @clients.each do |client| %>
      <p><%= client.name %></p>
      <form action="/stylists/<%= @stylist.id %>/update_clients" method="post">
        <input hidden name="_method" value="patch">
        <input hidden name="name" value="<%= client.name %>">
        <button class="btn btn-danger" type="submit">Remove</button>
      </form>
    <% end %>
  <% end %>
</div>

<div class="col-xs-6 well">
  <h3>Available Clients:</h3>
  <% if !@all_clients.empty? %>
    <% @all_clients.each do |client| %>
      <% if client.stylist_id.to_i == 0 %>
        <p><%= client.name %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
