<h1><%= @stylist.name %></h1>

<% if !@clients.empty? %>
  <% @clients.each do |client| %>
    <p><%= client.name %></p>
    <form action="/stylists/<%= @stylist.id %>/update_clients" method="post">
      <input hidden name="_method" value="patch">
      <input hidden name="name" value="<%= client.name %>">
      <button type="submit">Remove</button>
    </form>
  <% end %>
<% end %>

<form class="" action="/stylists/<%= @stylist.id %>/add" method="post">
  <input type="text" name="client_name" required>
  <button type="submit">Add Client</button>
</form>
